@media only screen and (max-width: 980px) {

	.row {
		padding: 0 2%;
	}

	/*-- Section 2 Inner Page --*/

	.article-thumbnail:nth-child(odd) {
	    padding-right: 1.5%;
	}

	.article-thumbnail:nth-child(even) {
	    padding-left: 1.5%;
	}

	.article-thumbnail .img-box {
		height: auto;
	    min-height: 225px;
	    max-height: 245px;
	}

	/*-- /Section 2 Inner Page --*/

	/*-- Footer --*/

	.footer .col {
		text-align: left;
	    padding-top: 9px;
	    padding-bottom: 9px;
	}	

	.footer .col-1,
	.footer .col-2,
	.footer .col-3,
	.footer .col-4 {
	    width: 50%;
	}

	.footer .col-1 {
		padding-top: 40px;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 768px) {

	section {
	    padding: 11px 0;
	}

	h1 {
	    font-size: 17px;
	    line-height: 21px;
	}

	/*-- Header --*/

	.header-site.main-page {
	    border-bottom: 14px solid #5984b5;
	}

	.header-site .col {
	    padding-top: 4px;
	}

	.header-site .col-1 {
	    width: 43%;
	    padding-top: 15px;
	}

	.header-site .col-2 {
	    width: 57%;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.promo-thumbnails .inner {
	    height: 346px;
	}

	.promo-thumbnails .thumbnail .descript {
	    height: 80px;
	    top: 63%;
	}

	.promo-thumbnails .thumbnail p {
	    padding: 5px 1%;
	    font-size: 11px;
	    line-height: 15px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	
	.article-two-cols .col-1 {
	    width: 100%;
	}

	.article-two-cols .col-2 {
	    width: 100%;
	}

	.article-two-cols ol li:before {
	    width: 19px;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.two-cols .col {
	    padding: 0;
	}

	.two-cols .col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.two-cols .col-2 {
	    width: 100%;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 2 Inner Page --*/

	.article-thumbnail {
		width: 100%;
		padding: 23px 0 11px 0;
		text-align: center;
		border-bottom: 1px solid #ededed;
	}

	.article-thumbnail:last-child {
		border-bottom: none;
	}

	.article-thumbnail:nth-child(odd) {
	    padding-right: 0;
	}

	.article-thumbnail:nth-child(even) {
	    padding-left: 0;
	}

	.article-thumbnail .inner {
		text-align: left;
	}

	.article-thumbnail .img-box {
	    height: auto;
	    min-height: auto;
	    max-height: 257px;
	}

	/*-- /Section 2 Inner Page --*/

	/*-- Section 8 Inner Page --*/

	.header-table {
	   	width: 44%;
	    margin: 0 0 0 6%;
	}

	.img-header-thumbnails .thumbnail {
	    width: 50%;
	    padding-left: 6%;
	}

	.chart-thumbnails .thumbnail {
	    width: 100%;
	}

	.chart-thumbnails .thumbnail .col-1 {
	    padding-top: 8px;
	}

	.chart-thumbnails .thumbnail .inner {
	    width: 100%;
	}

	/*-- /Section 8 Inner Page --*/

	/*-- Section 10 Inner Page --*/

	.single-article.right-bg {
		padding-right: 0;
	}

	.single-article.right-bg.right-img-1 {
	    background-image: none;	    
	}

	/*-- /Section 10 Inner Page --*/

	/*-- Section 11 Inner Page --*/

	.video-box {
	    height: 445px;
	    margin: 23px 0;
	}

	.video-box iframe {
	    height: 445px;
	}

	/*-- /Section 11 Inner Page --*/

}

@media only screen and (max-width: 600px) {

	.row {
		padding: 0 4%;
	}

	h1 {
	    font-size: 14px;
	    line-height: 20px;
	}

	h2 {
	    font-size: 19px;
	    line-height: 27px;
	    padding: 15px 0 5px 0;
	}

	.header-block h2 {
	    font-size: 16px;
	    line-height: 23px;
	}

	.img-thumbnail .descript h4 {
	    font-size: 15px;
	    line-height: 21px;
	}

	/*-- Section 1 Main Page --*/

	.promo-thumbnails .thumbnail {
	    width: 100%;
	}

	.promo-thumbnails .thumbnail .icon-box {
	    display: inline-block;
	    width: 100px;
	    height: 100px;
	    margin: 9px 10px;
	}

	.promo-thumbnails .thumbnail .descript {
	    min-height: 60px;
	    height: auto;
	    top: 71%;
	}

	.promo-thumbnails .thumbnail p {
	    font-size: 17px;
	    line-height: 17px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 7 Inner Page --*/

	.bricks-thumbnails .thumbnail {
	    width: 100%;
	    border-bottom: 1px solid #ededed;
	}

	.bricks-thumbnails .thumbnail:last-child {
	    border-bottom: none;
	}

	.bricks-thumbnails .thumbnail:nth-child(odd) {
	    padding-right: 0;
	}

	.bricks-thumbnails .thumbnail:nth-child(even) {
	    padding-left: 0;
	}

	/*-- /Section 7 Inner Page --*/

	/*-- Section 8 Inner Page --*/

	.header-table {
	   	width: 100%;
	   	max-width: 460px;
	    margin: 0;
	}

	.img-header-thumbnails {
	    text-align: left;
	    margin-bottom: 21px;
	}

	.img-header-thumbnails .thumbnail {
	    width: 100%;
	    max-width: 460px;
	    padding-left: 0;
	}

	.chart-thumbnails .thumbnail {
	    width: 100%;
	}

	.chart-thumbnails .thumbnail .col-1 {
	    padding-top: 8px;
	}

	/*-- /Section 8 Inner Page --*/

}


@media only screen and (max-width: 480px) {

	section {
	    padding: 5px 0;
	}

	h1 {
	    font-size: 12px;
	    line-height: 13px;
	}

	h2 {
	    font-size: 18px;
	    line-height: 25px;
	}

	ol li {
	    font-size: 15px;
	    line-height: 23px;
	}

	ol li:before {
		position: relative;
	    top: -3px;
	}

	.header-block .col-1 {
	    width: 62px;
	}

	.header-block h2 {
	    font-size: 16px;
	    line-height: 19px;
	    font-weight: bold;
	}

	/*-- Header --*/

	.header-site .col-1 {
	    padding-top: 4px;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.promo-thumbnails .thumbnail {
	    width: 100%;
	}

	.promo-thumbnails .thumbnail .icon-box {
	    display: inline-block;
	    width: 100px;
	    height: 100px;
	    margin: 9px 10px;
	}

	.promo-thumbnails .thumbnail .descript {
	    min-height: 50px;
	    height: auto;
	    top: 71%;
	}

	.promo-thumbnails .thumbnail p {
	    font-size: 17px;
	    line-height: 17px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 3 Main Page --*/

	.contacts-header {
	    margin: 0 0 14px 0;
	}

	.form-block .form-col {
	    padding: 0;
	}

	.form-block .form-col-1 {
	    width: 100%;
	}

	.form-block .form-col-2 {
	    width: 100%;
	}

	.contacts-block .two-cols .col-2 {
		padding-top: 10px;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 2 Inner Page --*/

	.article-thumbnail .descript h3 {
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- /Section 2 Inner Page --*/

	/*-- Section 3 Inner Page --*/

	.contacts-header h2 {
	    font-size: 17px;
	    line-height: 28px;
	}

	/*-- /Section 3 Inner Page --*/

	/*-- Section 10 Inner Page --*/

	.header-block .col-2 .blue-icon-box {
	    display: none;
	}

	/*-- /Section 10 Inner Page --*/

	/*-- Section 11 Inner Page --*/

	.video-box {
	    height: 290px;
	}

	.video-box iframe {
	    height: 290px;
	}

	/*-- /Section 11 Inner Page --*/

	/*-- Footer --*/

	.footer .col {
		padding-left: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		float: none;
	}

	.footer .col-1,
	.footer .col-2,
	.footer .col-3,
	.footer .col-4 {
	    width: 100%;
	    text-align: center;
	}

	.footer .col-1 {
		padding-top: 20px;
	}

	.footer-article {
		width: 100%;
		text-align: center;
		margin: 9px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

	.header-site .col-1 {
	    padding-top: 10px;
	}

}